<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web.dao.InvestingDAO">
    <select id="createInvesting">
        CREATE TABLE INVESTING (
            createTime timestamp,
            stock VARCHAR(20),
            current int,
            high int,
            low int,
            changePrice int,
            changeRate FLOAT,
            tradingVolume BIGINT,
            tradeTime VARCHAR(10)
        );
    </select>

    <insert id="insertInvesting" parameterType="java.util.List">
        INSERT INTO
            INVESTING (
                createTime,
                stock,
                current,
                high,
                low,
                changePrice,
                changeRate,
                tradingVolume,
                tradeTime
            )
        VALUES
            <foreach item="item" index="index" collection="list" separator=" , ">
            (
                left(now(),16),
                #{item.stock},
                #{item.current},
                #{item.high},
                #{item.low},
                #{item.changePrice},
                #{item.changeRate},
                #{item.tradingVolume},
                #{item.tradeTime}
            )
            </foreach>
    </insert>

    <!-- 하루 전 데이터 넣기 -->
    <update id="updateInvesting" parameterType="_int">
        UPDATE
            INVESTING a,
            ( SELECT
                changeRate,
                tradingVolume,
                `current`,
                INVESTING.stock,
                DATE_ADD(INVESTING.createTime, INTERVAL +#{interval} DAY) as createTime
            FROM INVESTING ) b
        SET
            a.bf1d_changeRate = round(b.changeRate,2),
            a.bf1d_tradingVolume = b.tradingVolume,
            a.bf1d_current = b.`current`,
            a.bf1d_tradingVolumeRate = round(a.tradingVolume / b.tradingVolume * 100,2),
            a.bf1d_currentRate = round(a.`current` / b.`current` * 100,2)
        WHERE a.stock = b.stock
        AND a.createTime = b.createTime
        AND a.createTime = (select max(createTime) from INVESTING);
    </update>
</mapper>